.mainPage {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.mainPageProfileImgContainer {
  border-radius: 250px;
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
